$font-family: "Roboto", sans-serif;

// Цвета для светлой темы
$primary-color: #007bff;
$secondary-color: #6c757d;
$white: #fff;
$black: #000;
$light-gray: #e0e5ec;
$light-gray-border: #eee;
$text-color: #333;
$text-color-light: #666;
$image-shadow-color: rgba(0, 0, 0, 0.2);
$hero-overlay-color: rgba(18, 44, 70, 0.7);
$light-gray-background: #f5fafd;
